<!DOCTYPE html>
<html>
<head>
  <title>ManyToMany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="col-md-12">
    <% if current_user %>
        <%= current_user.name %> |
        <%= current_user.email %> |
        <%= link_to 'Products', products_path %> |
        <%= link_to 'Companies', companies_path %> |
        <%= link_to 'Reviews', reviews_path %> |
        <%= link_to 'Logout', logout_path, method: :post %> |
    <% else %>
        <%= link_to 'Login', login_path %>
    <% end %>
  </div>
</div>
<% if notice %>
<%= notice %>
<% end %>
        <div class="container">
                <%= yield %>
        </div>
</body>
</html>
